body{
    background-color:rgb(153, 115, 0);
}
 
header{
    margin:0% 20% 0%;
} 
ul>li>a{
    margin-top: 1%;
    color: white;
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-weight: bold;
    font-size:100%;
}
#orderBtn{
    margin-top:-39%;
    width:20%;
    background-color: white;
    color: rgb(153, 115, 0);
}
#description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: beige; */
     width:53%;
     height: 10%;
    margin:-18% 26% 0%;
    align-items: center;
}
#about_us, #contact{
    width:40%;
    font-weight: bold; 
    color: white; 
    font-family: 'Cookie', cursive;
    font-size: 150%;
}
